$primary: #f26f4d;
$secondary: #8471b3;

$page-gradient: linear-gradient(-200deg, $primary 40%, adjust-hue($primary, -5%) 80%);
$profile-gradient: linear-gradient(180deg, $secondary 0%, adjust-hue($secondary, -10%) 100%);
$submit-gradient: linear-gradient(-200deg, $secondary 0%, adjust-hue($secondary, -40%) 100%);